<div>
    <section>{{taskFound.name}}</section>
    <section>{{taskFound.description}}</section>
    <section>{{taskFound.category}}</section>
    <section>{{taskFound.status}}</section>
    <section>{{taskFound.priority}}</section>
    <section>{{taskFound.deadLine}}</section>
    <section>{{taskFound.creationDate}}</section>
    <section>{{taskFound.modifiedDate}}</section>
    <section>{{taskFound.creator}}</section>
    <section>{{taskFound.lastUserToUpdate}}</section>
</div>

<app-back-to-home></app-back-to-home>